---
import BaseHead from "@/components/BaseHead.astro";
import SkipLink from "@/components/SkipLink.astro";
import ThemeProvider from "@/components/ThemeProvider.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import { siteConfig } from "@/site.config";
import type { SiteMeta } from "@/types";

interface Props {
	meta: SiteMeta;
}

const {
	meta: { articleDate, description = siteConfig.description, ogImage, title },
} = Astro.props;
---

<html
	class="overflow-x-hidden grid scroll-pt-20 scroll-smooth font-sans text-textColor text-xl md:text-base antialiased"
	lang={siteConfig.lang}
>
	<head>
		<BaseHead articleDate={articleDate} description={description} ogImage={ogImage} title={title} />
	</head>
	<body class="min-w-4xl relative m-auto min-h-screen w-full max-w-6xl grow bg-bgColor">
		<ThemeProvider />
		<SkipLink />

		<!-- Background -->
		<div class="fixed top-0 left-1/2 -ml-[50vw] min-h-screen w-screen pointer-events-none blur-2xl">
			<div class="absolute inset-0">
				<img
					id="background-image"
					src="/src/assets/firepit.png"
					alt="Background"
					class="w-full h-full object-cover opacity-25 pointer-events-none transition-opacity duration-1000 ease-in-out transform scale-100"
				/>
			</div>
			<div class="absolute top-[-90%] right-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"></div>
			<div class="absolute top-[-90%] left-[25%] w-[75%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-40 dark:opacity-5"></div>
			<div class="absolute top-[-85%] right-[25%] w-[55%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-40 dark:opacity-5"></div>
			<div class="absolute top-[-85%] left-[25%] w-[55%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-40 dark:opacity-5"></div>
			<div class="absolute top-[-75%] left-[-25%] w-[65%] h-full bg-gradient-to-b from-blue-300 via-pink-300 to-transparent rounded-full opacity-30 dark:opacity-5"></div>
			<div class="absolute top-[-75%] right-[-25%] w-[65%] h-full bg-gradient-to-b from-purple-300 via-blue-300 to-transparent rounded-full opacity-30 dark:opacity-5"></div>
			<div class="absolute top-[-85%] left-[-30%] w-[85%] h-full bg-gradient-to-b from-indigo-300 via-orange-300 to-transparent rounded-full opacity-60 dark:opacity-5"></div>
			<div class="absolute top-[-85%] right-[-30%] w-[85%] h-full bg-gradient-to-b from-orange-300 via-indigo-300 to-transparent rounded-full opacity-60 dark:opacity-5"></div>
		</div>
	
		<div class="relative flex min-h-screen w-full">
			<!-- Sidebar for Docs Series -->
			<slot name="sidebar" />
			<!-- Main container for the page content -->
			<div id="container" class="min-w-3xl relative m-auto max-w-4xl grow">
				<div class="m-auto grid min-h-screen md:grid-rows-[auto_auto_1fr] px-4 md:px-8 md:pt-4">
					<Header />
					<main id="main" class="relative flex-grow mt-32 md:mt-[3.5rem]">
						<slot />
					</main>
					<Footer />
				</div>
			</div>
		</div>

		<script>
			const images = [
				'/src/assets/firepit.png',
				'/src/assets/campus.png',
				'/src/assets/tower.png',
			];
			let currentIndex = 0;

			const backgroundImage = document.getElementById('background-image');
			setInterval(() => {
				currentIndex = (currentIndex + 1) % images.length;
				if (backgroundImage) {
					backgroundImage.style.transition = 'opacity 1s ease-in-out, transform 10s ease-in-out';
					backgroundImage.style.opacity = '0'; // Fade out
					setTimeout(() => {
						(backgroundImage as HTMLImageElement).src = images[currentIndex];
						backgroundImage.style.transform = 'scale(1)'; // Reset zoom
						backgroundImage.style.opacity = '0.25'; // Fade in
						backgroundImage.style.transform = 'scale(1.1)'; // Slowly zoom in
					}, 1000); // Match fade-out duration
				}
			}, 10000); // Change every 10 seconds
		</script>
	</body>
</html>